---
http_interactions:
- request:
    method: get
    uri: http://api.rating.chgk.info/teams/62868/seasons?itemsPerPage=500&page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Content-Type:
      - text/html
      Location:
      - https://api.rating.chgk.net/teams/62868/seasons?page=1&itemsPerPage=500
    body:
      encoding: UTF-8
      string: "<html>\r\n<head><title>301 Moved Permanently</title></head>\r\n<body>\r\n<center><h1>301
        Moved Permanently</h1></center>\r\n<hr><center>nginx</center>\r\n</body>\r\n</html>\r\n"
  recorded_at: Sat, 27 Jun 2026 16:17:11 GMT
- request:
    method: get
    uri: https://api.rating.chgk.net/teams/62868/seasons?itemsPerPage=500&page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Allow:
      - OPTIONS, HEAD, GET
      Etag:
      - W/"2a577ef888ec6beb"
      Link:
      - <https://api.rating.chgk.net/docs.jsonld>; rel="http://www.w3.org/ns/hydra/core#apiDocumentation"
    body:
      encoding: ASCII-8BIT
      string: '[{"idplayer":24850,"idseason":52,"idteam":62868,"dateAdded":"2018-10-12T00:00:00+00:00","dateRemoved":null,"playerNumber":0},{"idplayer":59270,"idseason":52,"idteam":62868,"dateAdded":"2018-10-12T00:00:00+00:00","dateRemoved":null,"playerNumber":1},{"idplayer":72156,"idseason":52,"idteam":62868,"dateAdded":"2019-06-07T00:00:00+00:00","dateRemoved":null,"playerNumber":0},{"idplayer":72160,"idseason":52,"idteam":62868,"dateAdded":"2018-10-12T00:00:00+00:00","dateRemoved":null,"playerNumber":0},{"idplayer":86775,"idseason":52,"idteam":62868,"dateAdded":"2018-10-12T00:00:00+00:00","dateRemoved":null,"playerNumber":0},{[...]
[...]
